<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MicroTaskScheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <MicroTaskScheduler.Properties.Settings>
            <setting name="AlarmInterval_ms" serializeAs="String">
                <value>3600000</value>
            </setting>
            <setting name="LastRunUtc" serializeAs="String">
                <value>0</value>
            </setting>
        </MicroTaskScheduler.Properties.Settings>
    </userSettings>
</configuration>
