<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WarThunderExporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WarThunderExporter.Properties.Settings>
            <setting name="XCoordinate" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="YCoordinate" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="txtDestinationHostname" serializeAs="String">
                <value>192.168.1.5</value>
            </setting>
            <setting name="txtDestinationPort" serializeAs="String">
                <value>54671</value>
            </setting>
            <setting name="cmbPriorityClass" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chkChangeToMonitor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkShowStatistics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nudFrequency" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="chkUseEfficiencyCoresOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="txtWtUrl" serializeAs="String">
                <value>http://127.0.0.1:8111</value>
            </setting>
            <setting name="txtDebug" serializeAs="String">
                <value />
            </setting>
        </WarThunderExporter.Properties.Settings>
    </userSettings>
</configuration>