<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RemoteWindowControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RemoteWindowControl.Properties.Settings>
            <setting name="txtIPAddress" serializeAs="String">
                <value>192.168.1.5</value>
            </setting>
            <setting name="txtPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="txtHTML" serializeAs="String">
                <value>.\Remote.Control.html</value>
            </setting>
            <setting name="chkUseEfficiencyCoresOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cmbProcesses" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nudInstance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txtXCoord" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="txtYCoord" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="rbNoChange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbMinimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbRestore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="textBox1" serializeAs="String">
                <value />
            </setting>
            <setting name="txtDebug" serializeAs="String">
                <value />
            </setting>
            <setting name="XCoordinate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="YCoordinate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="chkAutostart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkUseCachedHTML" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="txtProgramsConfigurationFile" serializeAs="String">
                <value>.\programs.json</value>
            </setting>
        </RemoteWindowControl.Properties.Settings>
    </userSettings>
</configuration>