<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TelemetryVibShaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TelemetryVibShaker.Properties.Settings>
            <setting name="XCoordinate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YCoordinate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cmbAudioDevice1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="chkEnableAoASoundEffects1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="txtSoundEffect1" serializeAs="String">
                <value>.\Full Throttle Electric.wav</value>
            </setting>
            <setting name="trkVolumeMultiplier1" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="chkEnableAoASoundEffects2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="txtSoundEffect2" serializeAs="String">
                <value>.\VMS_stall.wav</value>
            </setting>
            <setting name="trkVolumeMultiplier2" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="genericString" serializeAs="String">
                <value />
            </setting>
            <setting name="genericInt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="genericBool" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="txtArduinoIP" serializeAs="String">
                <value>192.168.1.249</value>
            </setting>
            <setting name="txtArduinoPort" serializeAs="String">
                <value>54671</value>
            </setting>
            <setting name="chkVibrateMotorForSpeedBrake" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkVibrateMotorForFlaps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="numMinIntensitySpeedBrakes" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="numMaxIntensitySpeedBrakes" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="numMinIntensityFlaps" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="chkTWatchVibrate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkTWatchDisplayBackground" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="txtTWatchIP" serializeAs="String">
                <value>192.168.1.248</value>
            </setting>
            <setting name="txtTWatchPort" serializeAs="String">
                <value>54671</value>
            </setting>
            <setting name="txtListeningPort" serializeAs="String">
                <value>54671</value>
            </setting>
            <setting name="trkEffectTimeout" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="txtJSON" serializeAs="String">
                <value>.\units.json</value>
            </setting>
            <setting name="chkChangeToMonitor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkShowStatistics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="numMaxIntensityFlaps" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="nudMinSpeed" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="cmbPriorityClass" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chkUseEfficiencyCoresOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkUseBackgroundProcessing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nudMinAltitude" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="chkAutoStart" serializeAs="String">
                <value>True</value>
            </setting>
        </TelemetryVibShaker.Properties.Settings>
    </userSettings>
</configuration>