<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FalconExporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FalconExporter.Properties.Settings>
            <setting name="XCoordinate" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="YCoordinate" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="txtDestinationHostname" serializeAs="String">
                <value>192.168.1.5</value>
            </setting>
            <setting name="txtDestinationPort" serializeAs="String">
                <value>54671</value>
            </setting>
            <setting name="cmbPriorityClass" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chkChangeToMonitor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkShowStatistics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nudFrequency" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="chkUseEfficiencyCoresOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="txtAircraftName" serializeAs="String">
                <value>F-16C_50</value>
            </setting>
            <setting name="chkAutoMinimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkReassignIdealProcessor" serializeAs="String">
                <value>False</value>
            </setting>
        </FalconExporter.Properties.Settings>
    </userSettings>
</configuration>