{
  "paths": {
    "commandJson": "C:\\MyPrograms\\wamp\\www\\remote_control\\command.json",
    "wtMissionJson": "C:\\MyPrograms\\wamp\\www\\warthunder\\mission_data.json",
    "wtConfigBlk": "C:\\MyPrograms\\Steam\\steamapps\\common\\War Thunder\\config.blk"
  },
  "names": {
    "ipcPipeName": "ipc_pipe_vr_server_commands",
    "ipcMutexName": "ipc_pipe_vr_server_mutex"
  }
}
